/* 1. Importation depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Nunito:wght@200..1000&display=swap');

/* 2. Application prioritaire sur les titres */
h1, h2, h3, h4, h5, h6, .font-heading {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 700;
}

/* 3. Application sur le corps du texte */
body, p, .font-body {
    font-family: 'Nunito', sans-serif !important;
}
