/* assets/css/custom.css - VERSION FINALE PROPRE */

/* 1. Tes Polices */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Nunito:wght@200..1000&display=swap');

h1, h2, h3, h4, h5, h6, .font-heading {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 700;
}

body, p, .font-body {
    font-family: 'Nunito', sans-serif !important;
}

/* 2. Sécurité pour le Logo */
/* Comme ton image est déjà ronde, ça sert juste à s'assurer qu'elle reste parfaite */
header a img, .logo img {
    border-radius: 50% !important;
    object-fit: cover !important; /* Garde les proportions de Martin */
}